Repository kilip/homelab-old, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/bootstrap, area/github, area/live, area/staging, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/live:
  - changed-files:
      - any-glob-to-any-file: live/**/*
area/staging:
  - changed-files:
      - any-glob-to-any-file: staging/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

feat: added prometheus stack
  live/apps/monitoring/thanos/app/helm-release.yaml
  live/apps/monitoring/thanos/app/kustomization.yaml
  live/apps/monitoring/thanos/ks.yaml
  live/flux/vars/cluster-secrets.sops.yaml
  staging/flux/vars/cluster-secrets.sops.yaml
Labels: area/live, area/staging

feat: added prometheus stack
  live/apps/monitoring/kustomization.yaml
  live/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/monitoring/thanos/app/helm-release.yaml
  live/flux/repositories/helm/bitnami.yaml
  live/flux/repositories/helm/kustomization.yaml
  staging/flux/repositories/helm/bitnami.yaml
  staging/flux/repositories/helm/kustomization.yaml
Labels: area/live, area/staging

feat: added prometheus stack
  live/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/monitoring/thanos/app/helm-release.yaml
  live/flux/repositories/helm/kustomization.yaml
  live/flux/repositories/helm/stevehipwell.yaml
  staging/flux/repositories/helm/kustomization.yaml
  staging/flux/repositories/helm/stevehipwell.yaml
Labels: area/live, area/staging

feat: added prometheus stack
  live/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/monitoring/prometheus-stack/app/secret.sops.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/monitoring/prometheus-stack/app/helm-release.yaml
  live/apps/monitoring/prometheus-stack/app/secret.sops.yaml
  live/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/monitoring/prometheus-stack/app/helm-release.yaml
Labels: area/live

feat: added prometheus stack
  staging/flux/vars/cluster-secrets.sops.yaml
Labels: area/staging

feat: added kube-prometheus-stack and thanos
  live/apps/fs/minio/app/helm-release.yaml
  live/apps/fs/minio/app/pvc.yaml
  live/apps/kube-system/kube-vip/app/daemonset.yaml
  live/apps/monitoring/kustomization.yaml
  live/apps/monitoring/namespace.yaml
  live/apps/monitoring/prometheus-stack/app/helm-release.yaml
  live/apps/monitoring/prometheus-stack/app/kustomization.yaml
  live/apps/monitoring/prometheus-stack/app/secret.sops.yaml
  live/apps/monitoring/prometheus-stack/ks.yaml
  live/apps/monitoring/thanos/app/helm-release.yaml
  live/apps/monitoring/thanos/app/kustomization.yaml
  live/apps/monitoring/thanos/ks.yaml
  live/flux/repositories/helm/bitnami.yaml
  live/flux/repositories/helm/kustomization.yaml
  live/flux/repositories/helm/prometheus-community.yaml
  live/flux/repositories/helm/stevehipwell.yaml
  live/flux/vars/cluster-secrets.sops.yaml
  live/flux/vars/cluster-settings.yaml
  old-kubeconfig
  staging/flux/repositories/helm/bitnami.yaml
  staging/flux/repositories/helm/kustomization.yaml
  staging/flux/repositories/helm/prometheus-community.yaml
  staging/flux/repositories/helm/stevehipwell.yaml
  staging/flux/vars/cluster-secrets.sops.yaml
  staging/flux/vars/cluster-settings.yaml
Labels: area/live, area/staging

added repositories
  live/apps/repositories/git/kustomization.yaml
  live/apps/repositories/helm/bitnami.yaml
  live/apps/repositories/helm/bjw-s.yaml
  live/apps/repositories/helm/cilium.yaml
  live/apps/repositories/helm/external-dns.yaml
  live/apps/repositories/helm/ingress-nginx.yaml
  live/apps/repositories/helm/jetstack.yaml
  live/apps/repositories/helm/k8s-gateway.yaml
  live/apps/repositories/helm/kustomization.yaml
  live/apps/repositories/helm/metrics-server.yaml
  live/apps/repositories/helm/nfs-provisioner.yaml
  live/apps/repositories/helm/openebs.yaml
  live/apps/repositories/helm/prometheus-community.yaml
  live/apps/repositories/helm/stakater.yaml
  live/apps/repositories/helm/stevehipwell.yaml
  live/apps/repositories/kustomization.yaml
  live/apps/repositories/oci/kustomization.yaml
  old-kubeconfig
  staging/flux/repositories/git/kustomization.yaml
  staging/flux/repositories/helm/bitnami.yaml
  staging/flux/repositories/helm/bjw-s.yaml
  staging/flux/repositories/helm/cilium.yaml
  staging/flux/repositories/helm/external-dns.yaml
  staging/flux/repositories/helm/ingress-nginx.yaml
  staging/flux/repositories/helm/jetstack.yaml
  staging/flux/repositories/helm/k8s-gateway.yaml
  staging/flux/repositories/helm/kustomization.yaml
  staging/flux/repositories/helm/metrics-server.yaml
  staging/flux/repositories/helm/nfs-provisioner.yaml
  staging/flux/repositories/helm/openebs.yaml
  staging/flux/repositories/helm/prometheus-community.yaml
  staging/flux/repositories/helm/stakater.yaml
  staging/flux/repositories/helm/stevehipwell.yaml
  staging/flux/repositories/kustomization.yaml
  staging/flux/repositories/oci/kustomization.yaml
Labels: area/live, area/staging

added repositories
  live/apps/repositories/git/kustomization.yaml
  live/apps/repositories/helm/bitnami.yaml
  live/apps/repositories/helm/bjw-s.yaml
  live/apps/repositories/helm/cilium.yaml
  live/apps/repositories/helm/external-dns.yaml
  live/apps/repositories/helm/ingress-nginx.yaml
  live/apps/repositories/helm/jetstack.yaml
  live/apps/repositories/helm/k8s-gateway.yaml
  live/apps/repositories/helm/kustomization.yaml
  live/apps/repositories/helm/metrics-server.yaml
  live/apps/repositories/helm/nfs-provisioner.yaml
  live/apps/repositories/helm/openebs.yaml
  live/apps/repositories/helm/prometheus-community.yaml
  live/apps/repositories/helm/stakater.yaml
  live/apps/repositories/helm/stevehipwell.yaml
  live/apps/repositories/kustomization.yaml
  live/apps/repositories/oci/kustomization.yaml
  old-kubeconfig
  staging/flux/repositories/git/kustomization.yaml
  staging/flux/repositories/helm/bitnami.yaml
  staging/flux/repositories/helm/bjw-s.yaml
  staging/flux/repositories/helm/cilium.yaml
  staging/flux/repositories/helm/external-dns.yaml
  staging/flux/repositories/helm/ingress-nginx.yaml
  staging/flux/repositories/helm/jetstack.yaml
  staging/flux/repositories/helm/k8s-gateway.yaml
  staging/flux/repositories/helm/kustomization.yaml
  staging/flux/repositories/helm/metrics-server.yaml
  staging/flux/repositories/helm/nfs-provisioner.yaml
  staging/flux/repositories/helm/openebs.yaml
  staging/flux/repositories/helm/prometheus-community.yaml
  staging/flux/repositories/helm/stakater.yaml
  staging/flux/repositories/helm/stevehipwell.yaml
  staging/flux/repositories/kustomization.yaml
  staging/flux/repositories/oci/kustomization.yaml
Labels: area/live, area/staging

feat: added cloudnative-pg apps
  live/apps/db/cloudnative-pg/backup/backups-pvc.yaml
  live/apps/db/cloudnative-pg/backup/helm-release.yaml
  live/apps/db/cloudnative-pg/backup/kustomization.yaml
  live/apps/db/cloudnative-pg/cluster/helm-release.yaml
  live/apps/db/cloudnative-pg/cluster/kustomization.yaml
  live/apps/db/cloudnative-pg/cluster/prometheus-rule.yaml
  live/apps/db/cloudnative-pg/ks.yaml
  live/apps/db/cloudnative-pg/operator/helm-release.yaml
  live/apps/db/cloudnative-pg/operator/kustomization.yaml
  live/apps/db/cloudnative-pg/operator/secret.sops.yaml
  live/apps/db/cloudnative-pg/operator/service.yaml
  live/apps/db/kustomization.yaml
  live/apps/db/namespace.yaml
  live/apps/repositories/helm/cloudnative-pg.yaml
  live/flux/vars/cluster-settings.yaml
  staging/flux/vars/cluster-settings.yaml
Labels: area/live, area/staging

feat: added prometheus
  live/apps/db/cloudnative-pg/ks.yaml
Labels: area/live

wip
  live/apps/db/cloudnative-pg/operator/kustomization.yaml
Labels: area/live

wip
  live/apps/repositories/helm/kustomization.yaml
Labels: area/live

wip
  live/apps/db/cloudnative-pg/cluster/cluster.yaml
  live/apps/db/cloudnative-pg/cluster/kustomization.yaml
Labels: area/live

wip
  live/apps/db/cloudnative-pg/cluster/cluster.yaml
  live/apps/db/cloudnative-pg/cluster/kustomization.yaml
  live/apps/db/kustomization.yaml
Labels: area/live

wip
  live/apps/db/kustomization.yaml
Labels: area/live

wip
  live/apps/db/cloudnative-pg/backup/backups-pvc.yaml
  live/apps/db/cloudnative-pg/backup/helm-release.yaml
  live/apps/db/cloudnative-pg/cluster/cluster.yaml
Labels: area/live

wip
  live/apps/db/kustomization.yaml
Labels: area/live

wip
  live/apps/db/kustomization.yaml
Labels: area/live

wip
  live/apps/db/cloudnative-pg/backup/helm-release.yaml
Labels: area/live

wip
  live/apps/db/cloudnative-pg/cluster/cluster.yaml
Labels: area/live

wip
  live/apps/db/kustomization.yaml
Labels: area/live

wip
  live/apps/db/kustomization.yaml
Labels: area/live

wip
  live/apps/db/cloudnative-pg/cluster/cluster.yaml
Labels: area/live

wip
  live/apps/db/cloudnative-pg/cluster/cluster.yaml
Labels: area/live

wip
  live/apps/db/cloudnative-pg/cluster/cluster.yaml
Labels: area/live

wip
  live/apps/db/cloudnative-pg/cluster/cluster.yaml
  live/apps/db/kustomization.yaml
  live/apps/db/pgadmin/app/helm-release.yaml
Labels: area/live

wip
  live/apps/db/cloudnative-pg/backup/backups-pvc.yaml
  live/apps/db/cloudnative-pg/backup/helm-release.yaml
  live/apps/db/cloudnative-pg/backup/kustomization.yaml
  live/apps/db/cloudnative-pg/cluster/cluster.yaml
  live/apps/db/cloudnative-pg/ks.yaml
  live/apps/db/cloudnative-pg/operator/helm-release.yaml
  live/apps/db/cloudnative-pg/operator/secret.sops.yaml
  live/apps/db/kustomization.yaml
Labels: area/live

wip
  live/apps/db/cloudnative-pg/operator/helm-release.yaml
Labels: area/live

wip
  live/apps/db/cloudnative-pg/ks.yaml
Labels: area/live

wip
  live/apps/db/kustomization.yaml
Labels: area/live
