Repository kilip/homelab-old, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/bootstrap, area/github, area/apps, area/cluster, area/taskfile

wip
  apps/db/kustomization.yaml
Labels: area/apps

feat: added loki helm release
  apps/db/cloudnative-pg/cluster/backup.yaml
  apps/db/cloudnative-pg/cluster/cluster.yaml
  apps/db/cloudnative-pg/cluster/prometheus-rule.yaml
  apps/db/cloudnative-pg/operator/helm-release.yaml
  apps/db/cloudnative-pg/operator/service.yaml
  apps/monitoring/grafana/app/secret.sops.yaml
  apps/monitoring/kustomization.yaml
  apps/monitoring/loki/app/helm-release.yaml
  apps/monitoring/loki/app/kustomization.yaml
  apps/monitoring/loki/app/prometheus.yaml
  apps/monitoring/loki/app/service.yaml
  apps/monitoring/loki/ks.yaml
  apps/monitoring/prometheus-stack/app/helm-release.yaml
  apps/network/ingress-nginx/certificates/staging.yaml
  cluster/staging/vars/cluster-settings.yaml
Labels: area/apps, area/cluster

wip
  apps/network/cloudflared/app/dnsendpoint.yaml
  apps/network/cloudflared/app/helmrelease.yaml
  apps/network/cloudflared/app/kustomization.yaml
  cluster/staging/vars/cluster-secrets.sops.yaml
Labels: area/apps, area/cluster

wip
  apps/network/cloudflared/app/helmrelease.yaml
Labels: area/apps

wip
  apps/network/cloudflared/app/helmrelease.yaml
Labels: area/apps

wip
  apps/network/cloudflared/app/configs/credentials.yaml
  apps/network/cloudflared/app/helmrelease.yaml
  apps/network/cloudflared/app/kustomization.yaml
Labels: area/apps

wip
  apps/network/external-dns/app/helmrelease.yaml
Labels: area/apps

wip
  apps/monitoring/prometheus-stack/app/helm-release.yaml
  cluster/staging/vars/cluster-secrets.sops.yaml
Labels: area/apps, area/cluster

wip
  cluster/staging/vars/cluster-secrets.sops.yaml
Labels: area/cluster

wip
  apps/monitoring/prometheus-stack/app/helm-release.yaml
  cluster/staging/vars/cluster-secrets.sops.yaml
Labels: area/apps, area/cluster

fix: fixed cloudflared configuration on staging and live deploy
  apps/monitoring/prometheus-stack/app/helm-release.yaml
  apps/network/cloudflared/app/configs/credentials.yaml
  apps/network/cloudflared/app/dnsendpoint.yaml
  apps/network/cloudflared/app/helmrelease.yaml
  apps/network/cloudflared/app/kustomization.yaml
  apps/network/external-dns/app/helmrelease.yaml
  cluster/staging/vars/cluster-secrets.sops.yaml
Labels: area/apps, area/cluster

wip
  .github/workflows/flux-diff.yaml
Labels: area/github

wip
  .github/workflows/flux-diff.yaml
Labels: area/github

wip
  .github/workflows/flux-diff.yaml
Labels: area/github

wip
  .github/workflows/flux-diff.yaml
Labels: area/github

ci: fixed flux-diff testing
  .github/workflows/flux-diff.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/apps:
  - changed-files:
      - any-glob-to-any-file: apps/**/*
area/cluster:
  - changed-files:
      - any-glob-to-any-file: cluster/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
