Repository kilip/homelab-old, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/bootstrap, area/github, area/apps, area/cluster, area/taskfile

wip
  cluster/staging/config/cluster.yaml
Labels: area/cluster

wip
  apps/fs/kustomization.yaml
  apps/fs/volsync/app/helm-release.yaml
  apps/fs/volsync/app/kustomization.yaml
  apps/fs/volsync/app/prometheus-rule.yaml
  apps/fs/volsync/ks.yaml
  apps/fs/volsync/snapshot/helm-release.yaml
  apps/fs/volsync/snapshot/kustomization.yaml
Labels: area/apps

wip
  apps/repositories/helm/backube.yaml
  apps/repositories/helm/kustomization.yaml
  apps/repositories/helm/piraeus.yaml
Labels: area/apps

wip
  apps/fs/volsync/app/helm-release.yaml
Labels: area/apps

wip
  apps/fs/volsync/app/helm-release.yaml
Labels: area/apps

feat: added volsync apps
  apps/fs/kustomization.yaml
  apps/fs/volsync/app/helm-release.yaml
  apps/fs/volsync/app/kustomization.yaml
  apps/fs/volsync/app/prometheus-rule.yaml
  apps/fs/volsync/ks.yaml
  apps/fs/volsync/snapshot/helm-release.yaml
  apps/fs/volsync/snapshot/kustomization.yaml
  apps/repositories/helm/backube.yaml
  apps/repositories/helm/kustomization.yaml
  apps/repositories/helm/piraeus.yaml
  cluster/staging/config/cluster.yaml
Labels: area/apps, area/cluster

wip
  apps/db/kustomization.yaml
  apps/db/pgadmin/app/config/servers.json
  apps/db/pgadmin/app/helm-release.yaml
  apps/db/pgadmin/app/kustomization.yaml
  apps/db/pgadmin/app/secret.sops.yaml
  apps/db/pgadmin/ks.yaml
Labels: area/apps

wip
  apps/db/kustomization.yaml
Labels: area/apps

wip
  .github/workflows/kubeconform.yaml
  scripts/kubeconform.sh
Labels: area/github

wip
  .github/workflows/kubeconform.yaml
Labels: area/github

wip
  apps/db/pgadmin/app/helm-release.yaml
Labels: area/apps

feat: added pgadmin apps
  .github/workflows/kubeconform.yaml
  apps/db/kustomization.yaml
  apps/db/pgadmin/app/config/servers.json
  apps/db/pgadmin/app/helm-release.yaml
  apps/db/pgadmin/app/kustomization.yaml
  apps/db/pgadmin/app/secret.sops.yaml
  apps/db/pgadmin/ks.yaml
  scripts/kubeconform.sh
Labels: area/github, area/apps

wip
  apps/monitoring/grafana/app/helm-release.yaml
  apps/monitoring/grafana/app/kustomization.yaml
  apps/monitoring/grafana/app/secret.sops.yaml
  apps/monitoring/grafana/ks.yaml
Labels: area/apps

wip
  apps/monitoring/kustomization.yaml
Labels: area/apps

wip
  apps/repositories/helm/grafana.yaml
  apps/repositories/helm/kustomization.yaml
Labels: area/apps

wip
  apps/monitoring/grafana/app/helm-release.yaml
Labels: area/apps

feat: added grafana helm release
  apps/monitoring/grafana/app/helm-release.yaml
  apps/monitoring/grafana/app/kustomization.yaml
  apps/monitoring/grafana/app/secret.sops.yaml
  apps/monitoring/grafana/ks.yaml
  apps/monitoring/kustomization.yaml
  apps/repositories/helm/grafana.yaml
  apps/repositories/helm/kustomization.yaml
Labels: area/apps

wip
  apps/db/cloudnative-pg/cluster/prometheus-rule.yaml
  apps/monitoring/loki/app/helm-release.yaml
  apps/monitoring/loki/app/kustomization.yaml
  apps/monitoring/loki/app/prometheus.yaml
  apps/monitoring/loki/app/service.yaml
  apps/monitoring/loki/ks.yaml
  cluster/staging/vars/cluster-settings.yaml
Labels: area/apps, area/cluster

wip
  apps/monitoring/kustomization.yaml
  apps/monitoring/prometheus-stack/app/helm-release.yaml
Labels: area/apps

wip
  apps/monitoring/loki/app/helm-release.yaml
  apps/monitoring/prometheus-stack/app/helm-release.yaml
Labels: area/apps

wip
  apps/monitoring/prometheus-stack/app/helm-release.yaml
Labels: area/apps

wip
  apps/monitoring/prometheus-stack/app/helm-release.yaml
Labels: area/apps

wip
  apps/monitoring/prometheus-stack/app/helm-release.yaml
Labels: area/apps

wip
  apps/monitoring/prometheus-stack/app/helm-release.yaml
Labels: area/apps

wip
  apps/monitoring/grafana/app/secret.sops.yaml
Labels: area/apps

wip
  apps/monitoring/grafana/app/helm-release.yaml
  apps/network/ingress-nginx/certificates/staging.yaml
Labels: area/apps

wip
  apps/monitoring/prometheus-stack/app/helm-release.yaml
Labels: area/apps

wip
  apps/db/cloudnative-pg/cluster/backup.yaml
  apps/db/cloudnative-pg/cluster/cluster.yaml
  apps/db/cloudnative-pg/cluster/kustomization.yaml
Labels: area/apps

wip
  apps/db/cloudnative-pg/cluster/backup.yaml
  apps/db/cloudnative-pg/cluster/cluster.yaml
Labels: area/apps

wip
  apps/db/cloudnative-pg/cluster/cluster.yaml
  apps/db/cloudnative-pg/operator/helm-release.yaml
Labels: area/apps

wip
  apps/db/kustomization.yaml
Labels: area/apps

wip
  apps/db/kustomization.yaml
Labels: area/apps

wip
  apps/db/cloudnative-pg/cluster/cluster.yaml
Labels: area/apps

wip
  apps/db/kustomization.yaml
Labels: area/apps

wip
  apps/db/kustomization.yaml
Labels: area/apps

wip
  apps/db/cloudnative-pg/operator/service.yaml
Labels: area/apps

wip
  apps/monitoring/grafana/app/helm-release.yaml
Labels: area/apps

wip
  apps/monitoring/grafana/app/secret.sops.yaml
Labels: area/apps

wip
  apps/monitoring/grafana/app/secret.sops.yaml
Labels: area/apps

wip
  apps/db/kustomization.yaml
Labels: area/apps

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/apps:
  - changed-files:
      - any-glob-to-any-file: apps/**/*
area/cluster:
  - changed-files:
      - any-glob-to-any-file: cluster/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
