Repository kilip/homelab-old, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/bootstrap, area/github, area/live, area/staging, area/taskfile

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/live:
  - changed-files:
      - any-glob-to-any-file: live/**/*
area/staging:
  - changed-files:
      - any-glob-to-any-file: staging/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

fix: fixed live gateway ip
  live/flux/vars/cluster-settings.yaml
Labels: area/live

feat: prepare for staging install
  .vscode/settings.json
  live/apps/fs/kustomization.yaml
  live/apps/fs/minio/app/helm-release.yaml
  live/apps/fs/minio/app/kustomization.yaml
  live/apps/fs/minio/app/pvc.yaml
  live/apps/fs/minio/app/secret.sops.yaml
  live/apps/fs/minio/ks.yaml
  live/apps/fs/namespace.yaml
  live/apps/fs/nfs-provisioner/app/helm-release.yaml
  live/apps/fs/nfs-provisioner/app/kustomization.yaml
  live/apps/fs/nfs-provisioner/app/storage-class.yaml
  live/apps/fs/nfs-provisioner/ks.yaml
  live/flux/repositories/helm/kustomization.yaml
  live/flux/repositories/helm/nfs-provisioner.yaml
  live/flux/vars/cluster-secrets.sops.yaml
  staging/flux/repositories/helm/kustomization.yaml
  staging/flux/repositories/helm/nfs-provisioner.yaml
  staging/flux/vars/cluster-secrets.sops.yaml
Labels: area/live, area/staging

feat: prepare for staging install
  live/apps/fs/nfs-provisioner/ks.yaml
Labels: area/live

feat: prepare for staging install
  live/apps/fs/minio/app/helm-release.yaml
Labels: area/live

feat: prepare for staging install
  live/apps/fs/minio/app/pvc.yaml
Labels: area/live

feat: prepare for staging install
  live/apps/fs/minio/app/helm-release.yaml
Labels: area/live

feat: prepare for staging install
  live/apps/fs/minio/app/helm-release.yaml
Labels: area/live

feat: prepare for staging install
  live/apps/fs/minio/app/helm-release.yaml
Labels: area/live

feat: prepare for staging install
  live/apps/fs/minio/app/helm-release.yaml
Labels: area/live

feat: prepare for staging install
  live/apps/fs/minio/app/helm-release.yaml
Labels: area/live

feat: prepare for staging install
  live/apps/fs/minio/app/helm-release.yaml
Labels: area/live

feat: prepare for staging install
  live/apps/fs/minio/app/helm-release.yaml
Labels: area/live

feat: prepare for staging install
  live/apps/fs/minio/app/helm-release.yaml
Labels: area/live

feat: prepare for staging install
  .vscode/settings.json
  live/apps/fs/minio/app/helm-release.yaml
Labels: area/live

feat: prepare for staging install
  live/apps/fs/minio/app/helm-release.yaml
Labels: area/live

feat: prepare for staging install
  live/apps/fs/minio/app/helm-release.yaml
Labels: area/live

feat: prepare for staging install
  live/apps/fs/minio/app/helm-release.yaml
Labels: area/live

feat: prepare for staging install
  live/apps/fs/nfs-provisioner/app/helm-release.yaml
Labels: area/live

feat: prepare for staging install
  live/apps/fs/nfs-provisioner/app/helm-release.yaml
Labels: area/live

feat: prepare for staging install
  live/apps/fs/nfs-provisioner/app/helm-release.yaml
Labels: area/live

feat: prepare for staging install
  live/apps/fs/minio/app/pvc.yaml
Labels: area/live

feat: added minio and nfs-provisioner (#7)
  .vscode/settings.json
  live/apps/fs/kustomization.yaml
  live/apps/fs/minio/app/helm-release.yaml
  live/apps/fs/minio/app/kustomization.yaml
  live/apps/fs/minio/app/pvc.yaml
  live/apps/fs/minio/app/secret.sops.yaml
  live/apps/fs/minio/ks.yaml
  live/apps/fs/namespace.yaml
  live/apps/fs/nfs-provisioner/app/helm-release.yaml
  live/apps/fs/nfs-provisioner/app/kustomization.yaml
  live/apps/fs/nfs-provisioner/app/storage-class.yaml
  live/apps/fs/nfs-provisioner/ks.yaml
  live/flux/repositories/helm/kustomization.yaml
  live/flux/repositories/helm/nfs-provisioner.yaml
  live/flux/vars/cluster-secrets.sops.yaml
  staging/flux/repositories/helm/kustomization.yaml
  staging/flux/repositories/helm/nfs-provisioner.yaml
  staging/flux/vars/cluster-secrets.sops.yaml
Labels: area/live, area/staging

fix: fixed flux diff action
  .github/workflows/flux-diff.yaml
Labels: area/github

fix: fixed flux diff action
  .github/workflows/flux-diff.yaml
Labels: area/github

feat: added prometheus stack
  live/apps/kube-system/kube-vip/app/daemonset.yaml
  live/apps/monitoring/kustomization.yaml
  live/apps/monitoring/namespace.yaml
  live/apps/monitoring/prometheus-stack/app/helm-release.yaml
  live/apps/monitoring/prometheus-stack/app/secret.sops.yaml
  live/apps/monitoring/prometheus-stack/ks.yaml
  live/flux/vars/cluster-settings.yaml
  staging/flux/vars/cluster-settings.yaml
Labels: area/live, area/staging

feat: added prometheus stack
  live/apps/fs/minio/app/pvc.yaml
  live/flux/vars/cluster-settings.yaml
  staging/flux/vars/cluster-settings.yaml
Labels: area/live, area/staging

feat: added prometheus stack
  live/apps/monitoring/kustomization.yaml
Labels: area/live

feat: added prometheus stack
  live/flux/repositories/helm/kustomization.yaml
  live/flux/repositories/helm/prometheus-community.yaml
  staging/flux/repositories/helm/kustomization.yaml
  staging/flux/repositories/helm/prometheus-community.yaml
Labels: area/live, area/staging

feat: added prometheus stack
  live/apps/fs/minio/app/helm-release.yaml
  live/apps/fs/minio/app/pvc.yaml
  old-kubeconfig
Labels: area/live

feat: added prometheus stack
  live/apps/fs/minio/app/pvc.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/monitoring/kustomization.yaml
  live/apps/monitoring/prometheus-stack/app/kustomization.yaml
  live/apps/monitoring/prometheus-stack/app/secret.sops.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/monitoring/prometheus-stack/ks.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/monitoring/prometheus-stack/app/helm-release.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/monitoring/prometheus-stack/app/helm-release.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/monitoring/prometheus-stack/app/secret.sops.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/monitoring/prometheus-stack/app/helm-release.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/monitoring/prometheus-stack/app/helm-release.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/monitoring/prometheus-stack/app/helm-release.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/monitoring/prometheus-stack/app/helm-release.yaml
Labels: area/live

feat: added prometheus stack
  live/apps/fs/minio/app/helm-release.yaml
Labels: area/live
